.video-info {
  .video-preview-metadata-container {
    padding-top: 5px;
    font-size: 13px;
    color: #6e6e6e;

    .channel-title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .show-max-two-lines {
    overflow: hidden;
    line-height: 1.4em;
    max-height: 2.8em;
  }

  .semi-bold {
    font-weight: 600;
  }
}

.video-preview {
  display: grid;
  grid: 118px auto / 210px;
  background-color: rgb(0, 0, 0);
}

.image-container {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.ui.image {
  // display: inline;
  // display: flex;
  // align-items: center;
  // margin-left: 5rem;
  // margin-top: 5rem;
  padding-top: 3rem;
  padding-left: 6rem;
  width: 10rem;
}

.time-label {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.8;
  border-radius: 2px;
  font-weight: 500;
  color: white;
  margin: 4px;
  padding: 2px 4px;
  line-height: 12px;
}
