* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  padding: 0;
  margin: 0;
}

.body {
  font-size: 14px;
  border-style: dotted;
  height: 150px;
  color: pink;
  background-color: pink;
}

.header {
  height: 150px;
  border-style: dotted;
  color: palevioletred;
}

.footer {
  height: 150px;
  border-style: dotted;
  color: palevioletred;
}

.body {
  flex: center;
}

.video {
  display: flex;
  justify-content: center;
}
