@import url("https://fonts.googleapis.com/css?family=Overpass+Mono:300,400&display=swap");

* {
  font-family: "Overpass Mono", monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  padding: 0;
  margin: 0;
}

.btn {
  transition: all 0.2s ease-in-out;
  border-radius: 100%;
  border: solid 1px rgb(247, 243, 243);
  display: block;
  font-size: 1.75em;
  height: 2.5em;
  line-height: 2.5em;
  position: relative;
  text-align: center;
  top: 0;
  width: 2.5em;
  transition: all 0.5s;
  margin: 0.75rem;
}

.house-img {
  font-size: 5rem;
}

.calendar {
  margin-right: 10rem;
}

.body {
  font-size: 14px;
}

.navbar-brand {
  font-weight: bold;
  font-size: 50px;
}

.navbar-light .navbar-brand {
  color: white;
}
.bg-light {
  background-color: purple;
}
.calendar {
  font-size: 1.25rem;
}

.date-form {
  background-color: aqua;
}

.videoWrapper {
  width: 100%;
}

.footer {
  height: 150px;
  border-style: dotted;
  color: palevioletred;
}

.videoWrapper {
  width: 100%;
}

.section {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.videoBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

section .formWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
