@import url("https://fonts.googleapis.com/css?family=Overpass+Mono:300,400&display=swap");

* {
  font-family: "Overpass Mono", monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-color: #666;
}
.round-button {
  box-sizing: border-box;
  display: block;
  width: 80px;
  height: 80px;
  padding-top: 14px;
  padding-left: 8px;
  line-height: 20px;
  border: 6px solid #fff;
  border-radius: 50%;
  color: #f5f5f5;
  text-align: center;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  font-weight: bold;
  transition: all 0.3s ease;
}
.round-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 10px rgba(255, 255, 100, 1);
  text-shadow: 0px 0px 10px rgba(255, 255, 100, 1);
}

.btn {
  transition: all 0.2s ease-in-out;
  border-radius: 100%;
  border: solid 1px rgb(247, 243, 243);
  display: block;
  font-size: 1.75em;
  height: 2.5em;
  line-height: 2.5em;
  position: relative;
  text-align: center;
  top: 0;
  width: 2.5em;
  transition: all 0.5s;
  margin: 0.75rem;
}

.house-img {
  font-size: 5rem;
}

.calendar {
  margin-right: 10rem;
}

.body {
  font-size: 14px;
}

.navbar-brand {
  font-weight: bold;
  font-size: 50px;
}

.navbar-light .navbar-brand {
  color: rgb(26, 4, 4);
  padding-left: 2rem;
}
.bg-light {
  background-color: purple;
}
.calendar {
  font-size: 1.25rem;
}

.date-form {
  background-color: aqua;
}

.videoWrapper {
  width: 100%;
}

/* .footer {
  background-color: #f5f5f5;
  border-style: dotted;
  color: palevioletred;
} */

.videoWrapper {
  width: 100%;
}

.section {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.videoBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.3rem;
  padding: 0.75rem;
  margin: auto;
  margin-top: 1rem;
  height: 50px;
  border-style: solid;
  border-color: rgb(129, 120, 120);
  border-radius: 0.5rem;
}

.videoBtn:hover {
  opacity: 4;
}

section .formWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container1 {
  display: flex;
  background-color: #f5f5f5;
  /* justify-content: center;
  align-items: center; */
  padding: 0.5rem 0.5rem;
  padding-left: 2rem;
}
.rounded-btn1 {
  transition: all 0.2s ease-in-out;
  border-radius: 100%;
  border: solid 0.75px rgb(0, 0, 0);
  display: block;
  font-size: 1.75em;
  height: 2.5em;
  line-height: 2.5em;
  position: relative;
  text-align: center;
  top: 0;
  width: 2.5em;
  transition: all 0.5s;
  margin: 0.75rem;
}

.rounded-btn1:hover {
  opacity: 4;
  transform: scale(1.25, 1.25);
}

.footer {
  padding-left: 30rem;
  padding-top: 2rem;
}

#my-video {
  margin-top: 2rem;
}
