.datepicker-form {
  display: flex;
  margin-right: 3rem;

  .datepicker-input {
    padding: 0.3rem;
  }

  .submit-button {
    border-radius: 0.3rem;
    margin-left: 1rem;
    padding: 0 0.3rem;
  }
}

.tether-element {
  margin-top: 0.5rem;
}
